.header {
    background-image: url('img/funko_top_banner.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 22.22vw; 
    grid-column: 1/5;
    font-size: 30px;
    padding: 0px;
    text-align: center;
    color: white;
    border-radius: 8px;
}
.aside { 
    background-color: #e2f0fb;
    grid-column: 1;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;  
    justify-content: space-around; 
    align-items: center;     
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 20px;
}
.section1 { 
    background-color: #e2f0fb;
    grid-column: 2/5;
    border-radius: 8px;
    padding: 10px 10px;
}
.section2 {
    background-color: #e2f0fb;
    grid-column: 2/3;
    grid-row: 3/5;
    border-radius: 8px;
}
.section3 {  
    grid-column: 3/5;
    display: flex;
    justify-content: center;  
    align-items: center;       
    padding: 10px; 
    background-color: #e2f0fb; 
    border-radius: 8px;
}
.section4 { 
    background-color: #e2f0fb;
    grid-column: 3/4;
    border-radius: 8px;
}
.section5 {
    grid-column: 4/5;
    font-style: italic;
    background-color: #e2f0fb;
    border: 1px solid rgba(255, 255, 255, 0.8);
    display: flex; 
    justify-content: center; 
    align-items: center;  
    box-sizing: border-box;
    border-radius: 8px;
}
b{
    font-size: 25px;
}
.footer { 
    background-image: url('img/ffooter.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    grid-column: 1/5;
    border-radius: 8px;
    padding: 10px 10px;
}
.grid-container {
    display: grid;
    background-color: #5ab8e9;
    padding: 3px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px;
    margin: 0px;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
.grid-container > div {
    text-align: center;
    box-sizing: border-box;
}
.section3 p{
    font-size: 15px;
    overflow-wrap: break-word;  
    white-space: normal; 
}
.section3 .right {
    text-align: justify;       
    max-width: 100%;          
}
.bhere {
    background-color: #e77b0f;
    border: 1px solid #e2f0fb ;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 100%; 
    height: 100%; 
    box-sizing: border-box;
    border-radius: 8px; 
    cursor: pointer; 
}
.aside u{
    font-size: 15px;
}
/* CSS para el layout de contacto */
.arriba { 
    background-image: url('img/ffooter.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 11.11vw; 
    grid-column: 1/5;
    font-size: 60px;
    padding: 30px 25px;
    text-align: center;
    color: white;
    border-radius: 8px;
}
.izquierda {
    grid-column: 1/3; 
    background-color: #e2f0fb;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.izquierda p{
    text-align: justify;
}
.izquierda img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.derecha {
    grid-column: 3/5; 
    background-color: #e2f0fb;
    padding: 20px;
    border-radius: 8px;
}
.form-container {
    max-width: 500px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: #333;
    text-align: left;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="tel"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    background-color: #e77b0f;
    border: 1px solid #e2f0fb ;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;  
}
.form-group button.send:hover {
    background-color: green;
}
